.FormContainer {
  display: flex;
  margin-top: 15px;
}

.AttImage {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}
.TextInput {
  font-size: 12pt;
  height: 150px;
  width: 550px;
  float: left;
}

.SendButton {
  margin-left: 20px;
  margin-top: 45px;
  height: 60px;
  text-align: center;
}
